// Place all the styles related to the Chords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.temp {

  background-color: rgba(225, 250, 225, 1);

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;


td, th {

  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(225, 2250, 225, .5);
}

}
