<div class="GuitarTuner">

    <%= image_tag("GuitarTunerHead.png", :alt => "Guitar Center") %>

    <div id="button1">

        <button type="button" class="btn btn-warning">1</button>

    </div>

    <div id="button2">

        <button type="button" class="btn btn-warning">2</button>

    </div>

    <div id="button3">

        <button type="button" class="btn btn-warning">3</button>

    </div>

    <div id="button4">

        <button type="button" class="btn btn-warning">4</button>

    </div>

    <div id="button5">

        <button type="button" class="btn btn-warning">5</button>

    </div>

    <div id="button6">

        <button type="button" class="btn btn-warning">6</button>

    </div>

</div>