
<div class="container">
    <div class="row centered-form">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Final Step!

                    </h3>
                </div>

                <form role="form">
                    <div class="row">

                        <div class="form-group">
                            <div class="container">

                                <p>Select profile status.</p>
                                <div class="btn-group btn-group-justified col-md-12 ">


                                    <a href="http://localhost:3000/masters/regular" class="btn btn-primary">Regular</a>
                                    <a href="http://localhost:3000/masters/special" class="btn btn-primary">Special Member</a>
                                    <a href="http://localhost:3000/masters/student" class="btn btn-primary">Student</a>
                                    <a href="http://localhost:3000/masters/speciall" class="btn btn-primary">Teacher</a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
